.DateTime {
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
}

.Feed {
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: default;
  display: flex;
  overflow: hidden;
  outline: none;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.feedHeader {
  align-items: center;
  border: solid white;
  border-width: 0 0 2px 0;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.feedInformation {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.Parent {
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 10px;
  box-shadow: 0px 5px 8px 8px rgba(34, 60, 80, 0.2);
  margin-inline: auto;
  margin-top: 20px;
  width: 90%;
}

.UserName {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.userImage {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  margin: 5px;
  width: 50px;
}
