.Parent {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.692),
    rgba(128, 0, 128, 0.692) 70%
  );
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
}

.Parent img {
  width: 50%;
  display: flex;
}

.CreateForm {
  margin-top: 50px;
}

.CreateForm form {
  display: flex;
  flex-direction: column;
}

.CreateForm label {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 2px;
  padding-left: 1px;
}

.CreateForm input {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.3);
}

.CreateForm input:focus {
  outline: none;
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.1);
}

.CreateForm button {
  margin-top: 30px;
  font-size: 20px;
  padding: 5px;
  width: 50%;
  margin-inline: auto;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.3);
  cursor: pointer;
}

.CreateForm button:active {
  box-shadow: none;
}

.CreateForm h1 {
  color: white;
}

.LogIn {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  color: white;
  font-size: 16px;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 100px;
}

.LogIn a {
  color: white;
  font-weight: bold;
}

@media (max-width: 600px) {
  .Parent {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 99.9%;
  }

  .Parent img {
    width: 350px;
    margin-inline: auto;
  }

  .CreateForm {
    width: 80%;
    margin-inline: auto;
  }
}
