.Parent {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  cursor: default;
}

.Header {
  width: 15%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  margin-block: 10px;
  cursor: pointer;
  transition: 1s;
}

.Header:hover {
  transition: 0.5s;
  background-color: rgba(255, 0, 0, 0.897);
}

.CustomCursor {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.514),
    rgba(128, 0, 128, 0.5) 70%
  );
  display: none;
  width: 40px;
  cursor: none;
}

.ImageBox {
  display: flex;
  justify-content: center;
  height: 85%;
  width: 50%;
  margin-block: auto;
  cursor: none;
  margin-bottom: 0;
}

.ImageBox:hover .CustomCursor {
  display: flex;
}

.ImageBox img {
  width: 98%;
  height: 97%;
  box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  object-fit: cover;
}
