.parent {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.loginArea {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* position: absolute; */
}

.loginArea button {
  border: none;
  display: flex;
  margin-inline: auto;
  margin-top: 40px;
  padding-inline: 30px;
  border-radius: 10px;
  box-shadow: 0px 12px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: rgba(38, 75, 175, 0.747);
  color: white;
  font-weight: bold;
  padding-block: 5px;
}
