.Button {
  box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.3);
  background-color: rgba(38, 75, 175, 0.747);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  margin-block: auto;
  margin-bottom: 15px;
  padding: 5px;
  padding-inline: 40px;
}

.Button:active {
  box-shadow: none;
}

.InputData {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.image {
  display: flex;
  width: 50%;
}

.inputs {
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.3);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 5px;
  padding-left: 10px;
}

.inputs:focus {
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.1);
  outline: none;
}

.labels {
  color: rgb(6, 21, 54);
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 1px;
}

.link {
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 0.562);
}

.LoginBox {
  align-items: center;
  box-shadow: 0px 0px 8px 10px rgba(34, 60, 80, 0.4);
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-top: 70px;
  margin-left: 100px;
  min-width: 350px;
  min-height: 350px;
  padding-top: 10px;
}

.LoginBox .ErrorMessage {
  align-self: center;
  border: none;
  color: #ff0033;
  font-weight: normal;
  padding-top: 5px;
  text-shadow: rgba(255, 121, 121, 0.747) 1px 0 10px;
}

.Parent {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.692),
    rgba(128, 0, 128, 0.692) 70%
  );
  display: flex;
  height: 100vh;
  justify-content: space-around;
  overflow: clip;
  width: 100vw;
}

.paragraphText {
  border-top-style: solid;
  border-top-width: 1.5px;
  border-top-color: purple;
  font-weight: bold;
  margin-block: 0;
  margin-top: 5px;
  text-align: center;
  width: 90%;
}

@media (max-width: 900px) {
  .Parent {
    align-items: center;
    flex-direction: column;
  }

  .LoginBox {
    display: flex;
    min-width: 300px;
    margin: 0;
    margin-top: 70px;
  }
}
