.GreenDot {
  background-color: rgb(51, 201, 51);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px white;
  content: '';
  height: 10px;
  margin-left: 45px;
  margin-top: 35px;
  position: absolute;
  width: 10px;
}

.Name {
  display: flex;
  font-size: 16px;
  height: 100%;
  margin-block: auto;
  padding-top: 5px;
  width: 100%;
}

.Parent {
  border-radius: 5px;
  box-shadow: 0px 5px 8px 8px rgba(34, 60, 80, 0.2);
  color: black;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 20px;
  margin-inline: auto;
  width: 90%;
}

.userImage {
  border-radius: 50%;
  height: 50px;
  margin-left: 0;
  margin-block: auto;
  min-width: 50px;
  min-height: 50px;
  margin-left: 10px;
  object-fit: fill;
  padding: 2px;
  width: 50px;
}
